body {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.text-blue {
  color: rgb(29, 140, 214);
}

.bg-blue {
  background: rgb(29, 140, 214);
}

.text-ld {
  color: #999;
}

.fs-smaller {
  font-size: smaller;
}

.bg-bl {
  background: #252b3b;
}

.bg-bbl {
  background: rgba(94, 87, 133, 0.1);
}

.text-bbl {
  color: #999;
}

.border-b {
  border-bottom: #555 1px solid;
}

.nav-link {
  padding: 15px;
  color: #333;
  font-weight: 100;
}

.nav-link:hover {
  color: rgb(46, 147, 187);
}

.list-unstyle {
  border-left: 3px solid #333;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  background: #999;
}

.color {
  background: #fff;
  margin: 0px 50px;
}

.number {
  background: url("http://be.beantownthemes.com/html/content/betheme/images/home_betheme_sectionbg1.png")
    no-repeat;
  height: 35vh;
  width: 100%;
  background-position: center bottom;
}

.fs {
  font-size: 6.5rem;
  font-weight: bolder;
}

.fss {
  font-size: 5rem;
  font-weight: bolder;
  padding-bottom: 5px;
}

.plus {
  font-size: 3.5rem;
}

.num h3 {
  padding-bottom: 15px;
  text-align: start;
  font-size: 1.3rem;
}

.num h1 {
  font-size: 5rem;
}

.use {
  padding-left: 160px;
}

.buy {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #edeef0;
  background-image: url("http://be.beantownthemes.com/html/content/betheme/images/home_betheme_sectionbg2.png");
  background-repeat: repeat-y;
  background-position: center top;
}

.theam {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #3e414c;
  background-image: url(http://be.beantownthemes.com/html/content/betheme/images/home_betheme_sectionbg3.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

.three {
  border-left: 2px solid #333;
  padding-left: 10px;
}

@media (max-width: 415px) {
  .nav-link {
    padding: 5px;
  }

  .fs {
    font-size: 4rem;
    font-weight: bolder;
    padding: 30px 40px 0px;
  }

  .fss {
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 5px;
  }

  .color {
    background: #fff;
    margin: 0px 0px;
  }

  .num h3 {
    font-size: medium;
    text-align: center;
  }

  .num h1 {
    font-size: 3.1rem;
  }

  .num i {
    font-size: 2rem;
  }
}

@media (max-width: 765px) {
  .use {
    padding-left: 0px;
  }

  .theam {
    font-weight: lighter;
    text-align: center;
  }

  .about-blog {
    font-size: 0.9rem;
    font-weight: lighter;
  }
}
