body {
  font-family: "Roboto", sans-serif;
}

.text-ld {
  color: #999;
}

.fs-smaller {
  font-size: smaller;
}

.nav-link {
  padding: 15px;
  color: #333;
  font-weight: 100;
}

.nav-link:hover {
  color: rgb(46, 147, 187);
}

.list-unstyle {
  border-left: 3px solid #333;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  background: #999;
}

.color {
  background: #fff;
  margin: 0px 50px;
}

@media (max-width: 415px) {
  .nav-link {
    padding: 5px;
  }

  .color {
    background: #fff;
    margin: 0px 0px;
  }
}
